#tags-position {
  position: absolute !important;
  width: 40vw !important;
  top: 0 !important;
  right: 10px !important;
}

.center-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
