.reply-list {
  display: block !important;
}
.mdc-chip {
  margin-left: 60%;
  padding-right: 15%;
  color: #6c757d;
  max-width: max-content;
}
.square {
  width: 50px !important;
  height: 50px !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.date {
  margin-left: 60%;
  color: "primary";
}
.comment-body{
  margin-bottom: 5%;
}
