.form-group{
  margin-bottom: 25px
}

.user-img:hover .edit {
display: block;
}

.edit {
padding-top: 28px;
 padding-right: 145px;
 position: absolute;
 right: 0;
 top: 0;
 display: none;
 font-size: 45px;
}

.cam{
 color: #1BA1E2;
 cursor: pointer;
}
.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}
.username{
  position: absolute;
  font-weight: bolder;
  font-size: 23px;
  margin-left: 62px;
  margin-top: 2px;
  font-family: Merienda One;
}

.email{
  position: absolute;
  font-weight: bold;
  font-size: 9px;
  margin-left: 48px;
  margin-top: 13px;
  font-family: monaco;
}

.bio{
  display: block;
  position: relative;
  width: 180px;
  word-wrap: break-word;
  margin-left: -12px;
  font-family: Merienda One
}

.main-section{
  margin: 0 auto;
  margin-top: 130px;
  padding: 0px;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}