.follower-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  margin-left: -14px;
  margin-top: 7px;
}

.bio-p{
  word-break: break-word;
  margin-left: 18px;
}
.u-name{
 font-weight: bold;
 font-family: Merienda One;
 font-size: 37px;
}
.u-bio{
  font-weight: bold;
  font-family: monaco;
  
}
.wrapper{
    background-color: #f5f5f5;
    height: 220px;
    width: 585px;
    margin: auto;
    margin-top: 2%;
    overflow-y: scroll;
    word-break: break-word;
    max-width: 100%;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
