.wrapper{
  background-color: #f5f5f5;
  height: 220px;
  width: 585px;
  margin: auto;
  margin-top: 2%;
  overflow-y: scroll;
  word-break: break-word;
  max-width: 100%;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.name-div {
  float: right;
  width: 60%;
  margin-top: -179px;
}

.img-cls {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: 12px;
  margin-top: 11px;
}

.U-name{
  font-weight: bold;
 font-family: Merienda One;
 font-size: 37px;
}
.U-bio{
  font-weight: bold;
  font-family: monaco;
}