body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$primary-color: #1ba1e2;
.primary-color {
  background-color: #1ba1e2 !important;
}

.bg-primary {
  background-color: #1ba1e2 !important;
}

$primary-color-dark: #1ba1e2;
.primary-color-dark {
  background-color: #1ba1e2 !important;
  $secondary-color: #6c757d;
  .secondary-color {
    background-color: #6c757d !important;
  }
}
.bg-secondary {
  background-color: #eeeeee !important;
}

$secondary-color-dark: #6c757d;
.secondary-color-dark {
  background-color: #6c757d !important;
}

.card {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0), 0 0px 0px 0 rgba(0, 0, 0, 0.0) !important;
  border: 1px solid #d4c9c9 !important;
  max-width: 75%;
}

